.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content:center;
      align-items: center;
    }
    .swiper-wrapper{
        margin-right: 400px;
    }