@font-face{
    font-family: "shabnam";
    src: url(../desktop/);
}

*{
    box-sizing: border-box;
    margin: 0;
}




.title-icon{
    color: black;
}

.container{
    width: 1016px;
    margin-right: auto;
    margin-left: auto;

    margin-top: 56px;
}

.head{
    direction: rtl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.title{
    color:black;
    display: flex;
    align-items:center;
    gap: 8px;
}

.title-icon{
    width: 22px;
    height: 22px;
    color: blue3;
}

.link{
        color:black;
text-decoration: none;
}

.row{

}
.product{
    width: 280px;
direction: rtl;
border: 1px solid blue;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0,08);
padding: 25px;
}
.product-imge{
width: 100%;
/* max-width: 100%; */
}
.product-name{
font-size: 20px;
font-weight: normal;
margin-top: 14px;
line-height: 1.6;
height: 68px;
}
.product-link{
text-decoration: none;
color: black;
}
.offer{
display: flex;
align-items: center;
gap: 9px;
}
.pesent{
color: blue;
background-color: aqua;
font-weight: bold;
font-size: 14px;
padding: 2px 4px;
display: inline-block;

border-radius: 4px;}
.price{
color: black;
font-size: 14px;
text-decoration: line-through;

}
.wrraper{
display: flex;
gap:109px;
align-items: center;
/* justify-content: space-between; */
}
.product-imge{

}
.product-name{

}
.wrraper-price{
display: flex;
align-items: center;
gap:12px;
}
.number{
color: black;

}
.unit{
color: black;

}
.rating{

}
.rating-number{
color: black;

}
.rating-icon{
color: black;
width: 22px;
height: 22px;
}